@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

.mainBox{
    margin: auto;
    width: 90%;
    height: 500px;
}

.files-app{
    width: 35%;
    margin-right: 15px;
}




.l{
    box-shadow: 0 0 10px 0 rgb(143, 143, 143);
}