@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";


.mainDiv{
height: 100%;    
}


.paragraph{
  width: 85%;
}
.paragraph p {
    padding: 5px;
}

.btnMoveText i{
    font-size: 25px;
}
