<div class="w-100 h-100 chipsDiv mt-2 mat-primary-outline" 
    (click)="chipsInput.focus()"
    [matTooltip]="toolTips.hpo_terms.value"
    [matTooltipPosition]="toolTips.hpo_terms.position"
    [matTooltipClass]="toolTips.hpo_terms.class"
    [matTooltipShowDelay]= "toolTips.hpo_terms.class"
    >

    <input matInput class="chipsInput m-0 p-1 w-100"
    #chipsInput
    [attr.disabled]="disabled? true : null"
    placeholder="HPO term ...."
    [formControl]="formCtrl"
    [matAutocomplete]="auto"
    [matChipInputFor]="chipList"
    > 
  <mat-chip-list #chipList aria-label="Selected Value" class="pt-1">
      
    <mat-chip
        *ngFor="let value of selectedValues | reverse"
        color="accent"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(value)"
        [matTooltip]="value|json"
        matTooltipClass="tooltip-dark"
        matTooltipShowDelay= 700
        >
        {{value.id}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
   
    </mat-chip-list>
   
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let value of filteredValues | async" [value]="value" [class.mat-accent-color]="isSelected(value.id)">
        {{value.name}}<span *ngFor="let synonym of value.synonyms">, {{synonym}}</span>
      </mat-option>
    </mat-autocomplete>
</div>
