<form (ngSubmit)="onSubmit()" #regexFrom="ngForm">
    <mat-form-field class="w-100">
        <input matInput type="text" name="regexValue" placeholder="Regex.*" [(ngModel)]="regexObj.$value">
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Regex type</mat-label>
        <mat-select [(ngModel)]="regexObj.$type" name="regexType">
            <mat-option *ngFor="let item of types" [value]="item">{{item}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
        <input matInput type="number" name="regexOrder" placeholder="Order [1..]" [(ngModel)]="regexObj.$value"
            pattern="[1-9][0-9]*">
    </mat-form-field>

    <br>
    <br>
    <div class="mt-4" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-flat-button color="primary" type="submit">Submit</button>
        <button mat-button color="warn" (click)="onNoClick()" type="button">Cancel</button>
    </div>
</form>