<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4em">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Filter" [ngModel]="null" (ngModelChange)="onFilter($event)">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Regex type</mat-label>
        <mat-select [(ngModel)]="filterType" name="typeSelector" (change)="onFilter($event)">
            <mat-option [value]="-1">All</mat-option>
            <mat-option *ngFor="let type of types" [value]="type">{{type |titlecase}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="onAddRegex()">New</button>
</div>

<div class="w-100 h-100" fxLayout="row" fxLayoutGap="2em">
    <div fxFlex>
        <cdk-virtual-scroll-viewport itemSize="50" class="w-100 h-100">
            <mat-list class="list">
                <mat-list-item *cdkVirtualFor="let item of filterItem" class="mb-2 listItem animated bounce">
                    <div class="w-100 h-100" fxLayout="row" fxLayoutAlign="space-between center">
                        <span fxFlex="70">{{item.$_id}}</span>
                        <mat-form-field class="inputNumber">
                            <input type="text" matInput min="0" pattern="[0-9]*"  [(ngModel)]="item.$_id">
                        </mat-form-field>
                        <button mat-button color="primary" (click)="onModify($event,1)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-button color="warn" (click)="onDelete($event,null)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-list-item>
            </mat-list>
        </cdk-virtual-scroll-viewport>
    </div>

</div>