.table { 
  background: transparent;
  border-collapse: separate;
  border-spacing: 0 0.5em;
} 

th, td {
  padding: 1.5em inherit;
  height: 50px;
  background: rgb(255, 255, 255);
} 

th{
  height: 50px;
  background: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
}


.inputNumber {
  width: 3em;
}

.margin-auto{
  margin: auto !important;
}