<div class="boxParent hw-100">
    <h4 class="boxHeader">{{title}}</h4>
    <div class="hw-100">
        <div *ngIf="document" class="border-bottom border-dark mb-1">
            <button mat-button color="primary" class="mr-2" (click)=" showLink()">Source</button>
            <button mat-button color="primary" class="mr-2" *ngFor="let item of document.old_versions;let i = index"
                (click)=" showText(i)">
                v.{{i}}
            </button>
        </div>
        <div class="divContent" *ngIf="contentType == constTypeText && textToShow">
            {{textToShow}}
        </div>

        <iframe *ngIf="contentType == constTypeLink && safeUrl" name="frame" [src]="safeUrl" width="100%"
            height="100%" frameBorder="0">
            <p>The source is invalid</p>
        </iframe>
    </div>
</div>