<div class="d-flex flex-column">
    <h4 class="boxHeader">{{title}}</h4>

    <ul class="list-group" *ngIf="data">
        <li class="list-group-item" *ngFor="let document of data.documents" 
        [class.selected]="document === selectedDoc"
        [class.check-mark]="document.doc_id"

            (click)="selectDoc(document)">
            <a href="{{document.link}}" ><span>{{document.file_name}}</span></a>
        </li>
    </ul>

    <div class="pagination">
        <app-pagination (pageEvent)="getPaginationEvent($event)"></app-pagination>
    </div>
</div>
