<div class="h-100" fxLayout="column">
    <h4 class="boxHeader">{{title}}</h4>
    <div class="listBox" fxFlex="94" fxLayout="column" fxLayoutAlign="space-between none">
        <mat-list class="matList" *ngIf="data">
            <mat-nav-list>
                <mat-list-item class="docsList" *ngFor="let document of data.documents; let i = index"
                    [class.selected]="document === selectedDoc" (click)="selectDoc(document)">
                    <mat-slide-toggle [checked]="document.doc_id"></mat-slide-toggle>
                    <button mat-icon-button (click)="newWindow()">
                        <mat-icon [color]="(document === selectedDoc)?'light':'primary'">open_in_new</mat-icon>
                    </button>
                    <div>
                        <span *ngIf="document.data_type=='link'">{{document.link_name}}</span>
                        <span *ngIf="document.data_type!='link'">{{document.file_name}}</span>
                    </div>
                    <!-- <a href="{{document.link}}">
                        <span *ngIf="document.data_type=='link'">{{document.link_name}}</span>
                        <span *ngIf="document.data_type!='link'">{{document.file_name}}</span>
                    </a> -->

                </mat-list-item>
            </mat-nav-list>
        </mat-list>

        <div class="pagination">
            <app-pagination *ngIf="data" [pageIndex]="pageIndex[this.selected_type]"
                [pageSize]="pageLength[this.selected_type]" [length]="data.totalRecords"
                (pageEvent)="getPaginationEvent($event)">
            </app-pagination>
        </div>
    </div>

</div>

<!-- <ul class="list-group" *ngIf="data">
    <li class="list-group-item" *ngFor="let document of data.documents; let i = index"
        [class.selected]="document === selectedDoc" [class.check-mark]="document.doc_id"
        (click)="selectDoc(document)">
        <a href="{{document.link}}">
            <span *ngIf="document.data_type=='link'">{{document.link_name}}</span>
            <span *ngIf="document.data_type!='link'">{{document.file_name}}</span>
        </a>
    </li>
</ul> -->