.listBox {
  overflow: hidden;
}
.matList {
  overflow-x: hidden;
  overflow-y: auto;
}
.drawer {
  margin-top: 0em;
  max-width: 23em;
  border: none;
}

.slideButton {
  position: absolute;
  top: 0.3em;
  left: 0.5em;
}

.slideButton mat-icon {
  color: white;
}

.listItem{
  min-height:4em;
}
.listItem:hover {
  background: rgb(209, 209, 209) !important;
  transition: 0.5s;
  color: rgb(0, 0, 0);
}

/* .marker{
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    margin-right: 0.5em;
    background-color: rgb(218, 218, 218);
 }
 .marker-active{
     background-color: rgb(17, 98, 207) !important;
     box-shadow: 0 0 5px -1px rgb(17, 98, 207) ;
 } */
.selected:hover {
  background: rgb(92, 92, 92) !important;
  opacity: 0.95;
}
.selected {
  background: rgb(92, 92, 92) !important;
  color: rgb(255, 255, 255) !important;
  transition: background-color 1s ease-out;
}
