<mat-drawer-container class="h-100" autosize>
    <mat-drawer #drawer opened="true" mode="side" class="drawer ">
        <div class="h-100" fxLayout="column">
            <app-title [title]="title"></app-title>
            <div class="listBox" fxFlex=94 fxLayout="column" fxLayoutAlign="space-between none">

                <mat-list *ngIf="api_response">
                    <mat-list-item class="docsList" *ngFor="let document of api_response.$documents; let i = index"
                        [class.selected]="document === selected_document" (click)="selectDocument(document)"
                        (dblclick)="newWindow(document)">
                        <div class="w-100" fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-slide-toggle [checked]="document.$state" [color]="(document.$state=='1')?'primary':''">
                            </mat-slide-toggle>
                            <button class="mx-2" mat-icon-button (click)="newWindow(document)">
                                <mat-icon [color]="(document === selected_document)?'accent':''">open_in_new</mat-icon>
                            </button>
                            <div fxFlex>
                                <span>{{document.$name}}</span>
                            </div>

                        </div>
                    </mat-list-item>
                </mat-list>

                <div *ngIf="api_response" class="w-100" fxLayout="row" fxLayoutAlign="space-around start">

                    <input fxFlex="18" class="mx-1" [value]="pageIndex[this.selected_type] + 1 || 1"
                        (change)="onChangeIndex($event)" pattern="[0-9]*">

                    <mat-paginator class="p-0 m-0" [length]="api_response.$totalRecords"
                        [pageIndex]="pageIndex[this.selected_type]" [pageSize]="this.pageLength[this.selected_type]"
                        [pageSizeOptions]="[10,25,50,100]" (page)="setPageEvent($event)">
                        <!--showFirstLastButtons="true"-->
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content fxLayout="row" class="h-100 overflow-hidden">

        <button type="button" class="sideButton" mat-button (click)="drawer.toggle()">
            <mat-icon *ngIf="drawer.opened">chevron_left</mat-icon>
            <span>Slide</span>
            <mat-icon *ngIf="!drawer.opened">chevron_right</mat-icon>
        </button>
        <app-preview fxFlex class="mx-1"></app-preview>
        <app-target fxFlex="45"></app-target>
    </mat-drawer-content>

</mat-drawer-container>