<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between none" class="my-1">
        <a href="https://www.bsc.es" class="bg-dark">
            <img src="assets/images/bsc/BSC-white.svg" alt="Barcelona Supercomputing Center" class="h-100" />
        </a>
        <!-- <span style="flex: auto"></span> -->
        <a href="https://www.plantl.gob.es/">
            <img src="assets/images/temu/plantl.png" alt="Plan de Impulso de las Tecnologías del Lenguaje"
                class="h-100  bg-light rounded image2" />
        </a>
    </mat-toolbar-row>
</mat-toolbar>