<div class="d-flex flex-column">
    <h4 class="boxHeader">{{title}}</h4>
    <ul class="list-group" *ngIf="data">
        <li class="list-group-item" *ngFor="let file of data.documents" [class.selected]="file === selectedFile"
            (click)="selectFile(file)">
            <ng-container *ngIf="file.type === 'link'; then link; else notLink"></ng-container>
            <ng-template #link><span>{{file.link}}</span></ng-template>
            <ng-template #notLink>{{file.name}}</ng-template>
        </li>
    </ul>
</div>