<div class="mainDiv">
    <h4>{{title}}</h4>
    <div *ngIf="file">
        <div class="" *ngIf="sourceData.data">
            <p>{{sourceData.data}}</p>
        </div>
        <div *ngIf="!sourceData.data">
            <p>Error: Couldn't find any file.</p>
        </div>
    </div>
</div>
hola que tal ? 
<button (click)="onClick()">click</button>
<!-- 
    <div class="input-group">
        <input type="text" class="" [(ngModel)]="file" placeholder="Search file">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="searchFile()">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
 -->