<div class="w-100 h-100   chipsDiv mt-2 custom-border" >
    <input matInput class="chipsInput m-0 p-1 w-100 bg-light"
    placeholder="New term ...."
    #chipsInput
    [formControl]="formCtrl"
    [matAutocomplete]="auto"
    [matChipInputFor]="chipList"> 
  <mat-chip-list #chipList aria-label="Selected Value">
      <mat-chip
        *ngFor="let value of selectedValues | reverse"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(value)">
        {{value.id}}: {{value.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
   
    </mat-chip-list>
   
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let value of filteredValues | async" [value]="value">
        {{value.name}}<span *ngFor="let synonym of value.synonyms">, {{synonym}}</span>
      </mat-option>
    </mat-autocomplete>
</div>
