body,html{
    margin: 0;
    height: 100%;
}



html, body { height: 100%; }
body { 
margin: 0; 
font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-style {
    color: white;
    
  }

.error-snack-bar{
background: rgb(255, 0, 0);
color: white;
}