<div>
    <h4 class="boxHeader">{{title}}</h4>
    <div *ngIf="document && !document.error">
        <form action="">
            <div class="main">
                <div class="divTextArea">
                    <textarea name="clinicalCase" type="textarea" class="textarea"
                     placeholder=""
                        [(ngModel)]="document.clinical_case"></textarea>
                </div>
                <div class="d-flex justify-content-start mt-4">
                    <!-- <button type="button" class="btn btn-outline-info" (click)="searchData()">Find</button> -->
                    <!-- <button type="button" class="btn btn-outline-dark ml-4" (click)="modifyData()">Modify</button> -->
                    <!-- <button type="button" class="btn btn-outline-danger ml-4" (click)="removeData()">Delete</button> -->
                    <button type="button" class="btn btn-outline-primary ml-4" (click)="submitData()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
