@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";


div{
    height: 100%;
}
div h4{
    background: rgb(35, 76, 136);
    padding: 5px;
    color: white;
    text-align: center;
}
ul{
    overflow: auto;
}

ul li{
   cursor: pointer;
}

ul li:hover{
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.219) inset;
 }

 ul li:active{
    margin-left:2px ;
 }

 .selected{
     background: rgb(0, 33, 221);
     color: white;
 }