
.mainBox{
    margin: auto;
    width: 90%;
    height: 500px;
}

.files-app{
    min-width: 30%;
}

button{
    background-color: transparent;
    border: 0;
}

.btn-active{
  border-bottom: 2px solid;
}

