.mainBox{
    width: 99%;
    height: auto;
    box-shadow: 0 0 5px 0 ;
    margin: auto;
    padding: 10px;
}
mwlResizable {
    box-sizing: border-box; /*required for the enableGhostResize option to work */
}

button{
    background-color: transparent;
    border: 0;
}

.btn-active{
    background: rgb(216, 216, 216);
    transition: 1s;
}

.contentBox{
    height: 100%;
    width: auto;
}

