.mainBox{
    width: 99%;
    height: 80%;
    border: 1px solid rgb(187, 187, 187);
    margin: auto;
    padding: 10px;
}

.contentParent{
    margin-top: 2px;
    position: relative;
    height: 98%;
}
/* mwlResizable {
    box-sizing: border-box; /*required for the enableGhostResize option to work 
} */

button{
    background-color: transparent;
    border: 0;
}

.btn-active{
    background: rgb(226, 226, 226);
    transition: 1s;
}

.contentBox{
    height: 95%;
}



