<div class="mt-4 mainBox">
    <nav mat-tab-nav-bar mat-align-tabs="left"  color="warn">
        <a mat-tab-link *ngFor="let type of documents_types" [routerLink]="['documents',type]" routerLinkActive
            #routeLink="routerLinkActive" [active]="routeLink.isActive" [class.btn-active]="routeLink.isActive">
            {{type}}
        </a>
    </nav>
    <div class="contentParent" fxLayout="row wrap" fxLayoutAlign="space-between none">

        <div fxFlex="19" class="contentBox">
            <router-outlet></router-outlet>
        </div>
        <div fxFlex="50" class="contentBox">
            <app-clinical-case-versions></app-clinical-case-versions>
        </div>
        <div fxFlex="30" class="contentBox">
            <app-clinical-case></app-clinical-case>
        </div>
    </div>
</div>
<!-- 
<div fxFlex="38" mwlResizable [enableGhostResize]="true" [resizeEdges]="{  right: true, left: true }"
    (resizeEnd)="onResizeEnd($event)">
</div> -->
<!-- class="mt-2 d-flex justify-content-start shadow" -->