<div class="wh-100">
    <app-title [title]="title"></app-title>
    <form fxLayout="column" class="wh-100" *ngIf="document && !document.error" #caseForm="ngForm" action=""
        (submit)="submitData()">
        <!-- <mat-form-field>
            <mat-label>Select Version</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of document?.versions; let i = index" >
                v.{{i}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        <div class="w-100 d-flex">

            <mat-form-field *ngIf="document?.clinical_cases.length > 0" class="text-center" color="primary">
                <mat-label class="text-primary">Case</mat-label>
                <mat-select [(value)]="selected_case" (selectionChange)="onCaseChange($event)" name="case">
                    <mat-option *ngFor="let case of document.clinical_cases; let i = index" [value]="case">
                        case - {{i}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf=" selected_case?.versions.length > 0" class="text-center ml-4 flex-fill" color="warn">
                <mat-label class="text-primary">Version</mat-label>
                <mat-select [(value)]="selected_version" (selectionChange)="onVersionChange($event)" name="version">
                    <mat-option>Actual</mat-option>
                    <mat-option *ngFor="let version of selected_case?.versions; let i = index" [value]="version">
                        {{version.time | date:"medium"}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-radio-group name="yes_no" class="p-1" aria-label="Select an option">
            <mat-radio-button name="yes_no" *ngFor="let item of radioBoxValues" class="ml-4" value="{{item}}"
                [checked]="item === selected_version?.yes_no" (change)="radioSelected = item">
                <span class="font-weight-bolder">{{item | titlecase}}</span>
            </mat-radio-button>
            <mat-radio-button class="ml-4" value="-1" (change)="radioSelected = null">None</mat-radio-button>
        </mat-radio-group>

        <div *ngIf="!selected_case" fxFlex="65" class="textarea bg-light p-4">
           <p> To create a case, click on "New case" button </p>
        </div>
        <textarea *ngIf="selected_case" fxFlex="65" class="textarea" name="clinicalCase" #clinicalCase="ngModel" type="textarea"
            (ngModelChange)="existVersion($event)" required [(ngModel)]="selected_case.version">
        </textarea>

        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="row" fxLayoutGap="20px" class="mt-2">
                <button type="submit" mat-raised-button color="primary"
                    [disabled]="!caseForm.valid || this.selected_version">Submit</button>
                <button type="reset" mat-raised-button color="warn">clear</button>
            </div>
            <div fxLayout="row" fxLayoutGap="20px" class="mt-2">
                <button type="button" mat-raised-button (click)="newCase()">New case</button>
                <button type="button" mat-raised-button>Finish</button>
            </div>
        </div>

        <!-- <div class="mt-4" *ngIf="clinicalCase.touched && this.version_exist_index != -1">
                <span class="text-danger">Already exist as version {{version_exist_index}}</span>
        </div> -->
    </form>
</div>