<div class="w-100 h-100" fxLayout="row">

    <div #drawer opened="true" mode="side" class="pt-2" [ngClass]="sortDrawer?'sortDrawer':'drawer'">
        <div fxLayout="row" fxLayoutAlign="end center" class="my-1">
            <button type="button" mat-icon-button (click)="sortDrawer = !sortDrawer" class="text-light">
                <mat-icon *ngIf="!sortDrawer">arrow_back_ios</mat-icon>
                <mat-icon *ngIf="sortDrawer">arrow_forward_ios</mat-icon>
            </button>
        </div>
        <mat-list>
            <mat-list-item fxLayout="row" [fxLayoutAlign]="sortDrawer?'center center':'start center'"
                [class.shortItem]="sortDrawer" class="animated flipInX  bg-light cursor-pointer item"
                *ngFor="let item of itemList">
                <mat-icon>
                    {{item.icon}}
                </mat-icon>
                <span *ngIf="!sortDrawer" class="ml-4 animated fadeInRight">{{item.value |titlecase }}</span>
            </mat-list-item>
        </mat-list>

    </div>
    <app-regex fxFlex class="h-100"></app-regex>
</div>