<div class="w-100 h-100" fxLayout="row">

    <div class="pt-2" [ngClass]="sortDrawer?'sortDrawer':'drawer'" class="bg-dark">
        <div fxLayout="row" [fxLayoutAlign]="sortDrawer?'center':'end'" class="my-1">
            <button type="button" mat-icon-button (click)="sortDrawer = !sortDrawer" class="text-light">
                <mat-icon *ngIf="sortDrawer">menu</mat-icon>
                <mat-icon *ngIf="!sortDrawer">menu_open</mat-icon>
            </button>
        </div>
        <mat-nav-list>
            <a  mat-list-item
                *ngFor="let item of itemList" 
                fxLayout="row"
                [fxLayoutAlign]="sortDrawer?'center center':'start center'" 
                [routerLink]="[item.path]"
                [class.sortItem]="sortDrawer"
                routerLinkActive
                #routeLink="routerLinkActive" 
                class="animated flipInX link-not-active item p-2 rounded"
                [class.link-active]="routeLink.isActive"
                >
                <!--  -->
                <mat-icon>
                    {{item.char}}{{item.icon}}
                </mat-icon>
                <span *ngIf="!sortDrawer" class="ml-4 animated fadeInRight">{{item.name |titlecase }}</span>
            </a>
        </mat-nav-list>
        <!--   -->
    </div>
    <div fxFlex class="bg-light-dark">
        <router-outlet></router-outlet>
    </div>
</div>